.profile__avatar-edit {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  top: 0;
  width: 100%;
  bottom: 0;
  opacity: 0;
  display: flex;
  border-radius: 50%;
  transition: opacity .3s ease;
  outline: none;
}

