.profile__job {
  color: #fff;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    max-width: 100%;
  }
}
